{namespace neos=TYPO3\Neos\ViewHelpers}

<div class="google-map-canvas" data-map-id="{node.identifier}" data-markers="<f:format.raw>{</f:format.raw>'markers':[<f:for each="{markers}" as="marker" iteration="iterator"><f:format.raw>{</f:format.raw>'m{iterator.index}':[<f:format.raw>{</f:format.raw>'street':'{marker.properties.street}','zip':'{marker.properties.zip}','city':'{marker.properties.city}','country':'{marker.properties.country}','title':'{marker.properties.title}','text':'<f:format.nl2br>{marker.properties.text}</f:format.nl2br>'<f:format.raw>}</f:format.raw>]<f:format.raw>}</f:format.raw><f:if condition="{iterator.isLast}"><f:then></f:then><f:else>,</f:else></f:if></f:for>]<f:format.raw>}</f:format.raw>" style="height: {height}px;"></div>

{markerCollection -> f:format.raw()}

<script>
    /*
    <![CDATA[
    if (!markers) {
        
        var markers = new Array();
        
    }
    
    markers[']]>{node.identifier}<![CDATA['] = new Array();
    
    ]]><f:for each="{markers}" as="marker" iteration="iterator"><![CDATA[
        
        markers[']]>{node.identifier}<![CDATA['][']]>{iterator.index}<![CDATA['] = new Array();
        markers[']]>{node.identifier}<![CDATA['][']]>{iterator.index}<![CDATA[']['street'] = ']]>{marker.properties.street}<![CDATA[';
        markers[']]>{node.identifier}<![CDATA['][']]>{iterator.index}<![CDATA[']['zip'] = ']]>{marker.properties.zip}<![CDATA[';
        markers[']]>{node.identifier}<![CDATA['][']]>{iterator.index}<![CDATA[']['city'] = ']]>{marker.properties.city}<![CDATA[';
        markers[']]>{node.identifier}<![CDATA['][']]>{iterator.index}<![CDATA[']['country'] = ']]>{marker.properties.country}<![CDATA[';
        markers[']]>{node.identifier}<![CDATA['][']]>{iterator.index}<![CDATA[']['title'] = ']]>{marker.properties.title}<![CDATA[';
        markers[']]>{node.identifier}<![CDATA['][']]>{iterator.index}<![CDATA[']['text'] = ']]>{marker.properties.text}<![CDATA[';
        
    ]]></f:for>
    */
</script>